@model Mvc.Ux.Demos.Backend.Model.Country

<tr data-id="@Model.CountryCode">
    <td>@Model.CountryName</td>
    <td>@Model.Capital</td>
    <td><span class="text-primary">@Model.Continent</span></td>
</tr>
