
<div class="jumbotron text-center">
    <p style="font-size: 3em; margin: 0; line-height: 40px"><b>DEMOS</b></p>
    <p style="font-size: 2em; margin: 0; line-height: 30px">UI Best Practices Playbook for ASP.NET MVC</p>
    <p class="text-muted">Dino Esposito</p>
</div>
<div class="row">   
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("picking", "demo")">
            <h4 style="margin: 0; line-height: 16px">MOD 02</h4>
            <small class="text-muted">Picking Items from a (Long) List</small> 
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("date", "demo")">
            <h4 style="margin: 0; line-height: 16px">MOD 03</h4>
            <small class="text-muted">Letting Users Pick a Date</small>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("pswd", "demo")">
            <h4 style="margin: 0; line-height: 16px">MOD 04</h4>
            <small class="text-muted">Provding a Better Experience for Changing Passwords</small>
        </a>
    </div>
</div>
 

