
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <h1>Frameworks used in the course</h1>
    <hr/>
    <div class="text-left" style="font-size: 1.7em">
        <table class="table table-responsive">
            <tr>
                <td><b>WURFL.JS</b></td>
                <td>
                    <a href="https://web.wurfl.io/#wurfl-js">
                        https://wurfl.io
                    </a>
                </td>
            </tr>
            <tr>
                <td><b>TypeAhead</b></td>
                <td>
                    <a href="https://twitter.github.io/typeahead.js">
                        https://twitter.github.io/typeahead.js
                    </a>
                </td>
            </tr>
            <tr>
                <td><b>Bootstrap DatePicker</b></td>
                <td>
                    <a href="https://github.com/uxsolutions/bootstrap-datepicker">
                        https://github.com/uxsolutions/bootstrap-datepicker
                    </a>
                </td>
            </tr>
            <tr>
                <td><b>Bootstrap Select</b></td>
                <td>
                    <a href="https://silviomoreto.github.io/bootstrap-select">
                        https://silviomoreto.github.io/bootstrap-select
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
